<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Projeto A3 EDAA</title>
</head>
<body>
    <h1 th:if="${invalid == true}">Nenhum usuário selecionado!</h1>
    <h2 th:if="${invalid == true}">Digite o nome de usuário</h2>

    <form id="history" method="get" action="/history">
        <button><a href="/">Voltar para o início</a></button>

        <label for="user" id="pad">Insira seu nome de usuário da Last.FM</label>
        <input type="text" name="user" id="username">
    
        <button class="history" type="submit">Pesquisar histórico</button>
    </form>

    <h1 th:if="${invalid == false}">Ranks musicais para <span th:text="${user}"></span></h1>

    <!-- <div>
        <button><a href="/">Voltar para o início</a></button>
    </div> -->

    <!-- <h2><span th:text="${hist.size}"></span> registros encontrados (histórico)</h2> -->
    <h2><span th:text="${usr.size}"></span> registros encontrados</h2>

    <table th:if="${usr.isEmpty == false}">
        <tr>
            <th>Música</th>
            <th>Artista(s)</th>
            <th>Álbum</th>
        </tr>
        <tr th:each="track : ${usr}">
            <td th:text="${track.getTrack}"></td>
            <td th:text="${track.getArtist}"></td>
            <td th:text="${track.getAlbum}"></td>
        </tr>
    </table>
</body>