<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Projeto A3 EDAA</title>
</head>
<body>
    <h1 th:if="${invalid == true}">Nenhum usuário selecionado!</h1>
    <h2 th:if="${invalid == true}">Digite o nome de usuário</h2>

    <form id="history" method="get" action="/history">
        <button class="history"><a href="/">Voltar para o início</a></button>

        <label for="user" id="pad">Insira seu nome de usuário da Last.FM :</label>
        <input type="text" name="user" id="username" placeholder="Digite um nome de usuário">
    
        <button class="history" type="submit">Pesquisar histórico</button>
    </form>

    <h2 th:if="${usr == null}">Digite um usuário válido para começar (ex: user1, user2)</h2>

    <h1 th:if="${usr != null}"><span th:text="${#lists.size(usr)}"></span> registros encontrados para <span th:text="${user}"></span></h1>

    <h3 th:if="${usr != null}">Para ordenar a tabela, clique em um cabeçalho (Música, Álbum, etc).</h3>

    <div id="info" th:if="${usr != null}">
        <table th:if="${#lists.size(usr) > 0}">
            <tr>
                <th class="headers"><a th:href= "@{/history(user=${user}, orderby='music')}">Música</a></th>
                <th class="headers"><a th:href= "@{/history(user=${user}, orderby='artist')}">Artista(s)</a></th>
                <th class="headers"><a th:href= "@{/history(user=${user}, orderby='album')}">Álbum</a></th>
                <th class="headers"><a th:href= "@{/history(user=${user}, orderby='date')}">Data</a></th>
            </tr>
            <tr th:each="track : ${usr}">
                <td th:text="${track.getTrack}"></td>
                <td th:text="${track.getArtist}"></td>
                <td th:text="${track.getAlbum}"></td>
                <td th:text="${#temporals.format(track.getDate, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
        </table>
    </div>
    
</body>