<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Projeto A3 EDAA</title>
</head>
<body>
    <h1>Projeto A3 2024.1
        <br>
        Estruturas de Dados e Análise de Algoritmos
        <br>
        Busca e ordenação usando dados da Last.FM
    </h1>

    <h2>Membros:</h2>

    <ul>
        <li th:each="membro : ${membros}" th:text="${membro}"></li>
    </ul>

    <div id="link">
        <img src="github-mark-white.svg" alt="LogoTipo do GitHub" srcset="">
        <a href="https://github.com/d4rkwav3/edaa_projetoa3" rel="nofollow">Código-Fonte do projeto no GitHub</a>
    </div>
    

    <p>
        O projeto tem como objetivo buscar todos os dados salvos no banco de dados e utilizar os algoritmos 
        internos para filtrar os dados por usuário e ordenar por música, artista, álbum ou data, além de 
        utilizar um algoritmo de busca binária para encontrar músicas pelo nome.
    </p>

    <div>
        <button><a href="/search">Pesquisar por música</a></button>
        <button><a href="/history">Ver histórico registrado</a></button>
    </div>
    
</body>
</html>