<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Projeto A3 EDAA</title>
</head>
<body>
    <h1>Projeto A3 2024.1
        <br>
        Estruturas de Dados e Análise de Algoritmos
        <br>
        Busca e ordenação usando a API do Last.FM
    </h1>

    <h2>Membros:</h2>

    <ul>
        <li th:each="membro : ${membros}" th:text="${membro}"></li>
    </ul>

    <p>
        O projeto tem como objetivo buscar as faixas ouvidas de um determinado usuário da Last.fm, 
        filtrando por data e ordenar os dados de modo a determinar um ranking dos artistas, faixas 
        e genêros mais ouvidos pelo usuário em determinado período. Os dados são salvos em um banco 
        de dados SQLite e são usados para comparar ranks passados.
    </p>

    <div>
        <button><a href="/rank">Criar seu ranking</a></button>
        <button><a href="/history">Ver ranks passados</a></button>
    </div>
    
</body>
</html>