<h1>Projeto A3 2024.1</h1>

<h2>Estruturas de Dados e Análise de Algoritmos</h2>

<p>Essa será a página inicial do projeto a3 desse semestre! ;)</p>

<ul>
    {{#objetivos}}
    <li>{{description}}</li>
    {{/objetivos}}
</ul>

<form action="/new-obj" method="post">
    <input type="text" name="description">
    <button type="submit">Enviar</button>
</form>