<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Projeto A3 EDAA</title>
</head>
<body>
    <h1>Projeto A3 2024.1
        <br>
        Estruturas de Dados e Análise de Algoritmos
        <br>
        Busca e ordenação usando a API do Last.FM
    </h1>

    <h2>Membros:</h2>

    <ul>
        <li>
            Bruno Venâncio de Souza e Silva, RA: 821135934
        </li>
        <li>
            Henrick Melo Vital, RA: 821224905
        </li>
    </ul>


    <p>
        O projeto tem como objetivo buscar as faixas ouvidas de um determinado usuário da Last.fm, 
        filtrando por data e ordenar os dados de modo a determinar um ranking dos artistas, faixas 
        e genêros mais ouvidos pelo usuário. Os dados são salvos em um banco de dados SQLite e são
        usados para comparar ranks passados.
    </p>
    
</body>
</html>